<style>
    .errors {
        color: red;
    }
</style>

<form action="" method="post">
    <p>
        {% raw form.title.label %}:
        {% raw form.title %}
        {% if form.title.errors %}
        <ul class="errors">
            {% for error in form.title.errors %}<li>{{ error }}</li>{% end %}
        </ul>
        {% end %}
    </p>
    <p>
        {% raw form.text.label %}:
        {% raw form.text(rows='10',cols='50') %}
        {% if form.text.errors %}
        <ul class="errors">
            {% for error in form.text.errors %}<li>{{ error }}</li>{% end %}
        </ul>
        {% end %}
    </p>
    <p>
        <input type="submit" value="Post">
    </p>
</form>